<style>
	.register-fields
	{
		padding: 1rem;
		padding-left: 2rem;
		padding-right: 2rem;
		width: 20rem;
		margin-left: auto;
		margin-right: auto;
	}

</style>


<div>

	<form name="studentDetails" class="register-fields">
		<br>
		<br>

		<label for="studentId">Student ID:</label>
		<input type="text" id="studentId" ng-model="details.student.StudentId" required>

		<label for="password">Password:</label>
		<input type="password" id="password" ng-model="details.user.Password" required>

		<label for="name">Name:</label>
		<input type="text" id="name" ng-model="details.student.PreferredName" required>

		<!--
			Gender
		-->
		<label for="gender">Gender:</label>
		<input type="radio" name="gender" value="Male" id="male">
		<label for="male" ng-model="details.student.gender">Male</label>
		<input type="radio" name="gender" value="Female" id="female">
		<label for="female" ng-model="details.student.gender">Female</label>
		<input type="radio" name="gender" value="Other" id="other">
		<label for="other" ng-model="details.student.gender">Other</label>


		<label for="email">Email:</label>
		<input type="text" id="email" ng-model="details.user.Email" required>

		<label for="mobile">Mobile:</label>
		<input type="text" id="mobile" ng-model="details.student.mobile">

		<label for="altcontact">Alternate Contact:</label>
		<input type="text" id="altcontact" ng-model="details.student.AltContact">

		<label for="dob">Date Of Birth:</label>
		<input type="text" id="dob" ng-model="details.student.DateOfBirth" required>

		<button class="button column medium-12 success" ng-click="pageOneToTwo()" ng-disabled="studentDetails.$invalid">Next</button>

		</form>
</div>
