<style>
	.register-fields
	{
		padding: 1rem;
		padding-left: 2rem;
		padding-right: 2rem;
		width: 20rem;
		margin-left: auto;
		margin-right: auto;
	}

</style>


<div>

	<form name="studentDetails" class="register-fields">
		<br>
		<br>

		<label for="faculty">Faculty:</label>
		<input type="text" id="faculty" ng-model="details.user.faculty" required>

		<label for="courseCode">Course Code:</label>
		<input type="text" id="courseCode" ng-model="details.user.courseCode" required>

		<label for="degree">Degree:</label>
    <input type="radio" name="degree" value="Undergraduate" id="undergraduate" required><label for="undergraduate" ng-model="details.student.Degree">Under Graduate</label>
    <input type="radio" name="degree" value="Postgraduate" id="postgraduate" required><label for="postgraduate" ng-model="details.student.Degree">Post Graduate</label>

		<label for="year">Year:</label>
		<input type="text" id="year" ng-model="details.user.year" required>

		<label for="status">Status:</label>
	  <input type="radio" name="status" value="Permanent" 	id="permanent" required>
		<label for="permanent" ng-model="details.student.Status">Under Graduate</label>
    <input type="radio" name="status" value="International" id="international" required>
		<label for="international" ng-model="details.student.Status">Post Graduate</label>

		<label for="firstLanguage">First Language:</label>
		<input type="text" id="firstLanguage" ng-model="details.student.FirstLanguage" required>

		<label for="country">Country of Origin:</label>
		<input type="text" id="country" ng-model="details.student.CountryOrigin" required>

		<label for="background">Background:</label>
		<input type="text" id="background" ng-model="details.student.Background" required>

		<button class="button column medium-12 failure" ng-click="goRegisterOne()">Previous</button>
		<button class="button column medium-12 success" ng-click="goRegisterThree()" ng-disabled="studentDetails.$invalid">Next</button>

		</form>
</div>
