.activity-row {
	$activity-margin: rem-calc(10);
	margin-top: $activity-margin;
	margin-bottom: $activity-margin;
}
nav h1.title {
	text-transform: uppercase;
}
.ng-cloak {
	opacity: 0;	
}
#help-link {
	color: white;
	text-decoration: none;
	font-size: 1.5rem;
	padding-top:0.55rem;
	padding-right: 1rem;
}

label {
		margin-bottom: 1em;
}
.notes-text {
	margin-top: 0.1rem !important;
}

.bookingTitle {
		font-size: 1.25rem;
		font-weight: bold;
}