#nav-username {
	text-align: center;
}
#nav-photo {
	width: 5em; 
	height: 5em; 
	border-radius: 5em; 
	margin-left: auto; 
	margin-right: auto; 
	margin-top: 1em;
	margin-bottom: 1em; 
	background-image: url(../static/img/mac-glasses.jpeg); 
	background-size: cover; 
	background-repeat: no-repeat;
}