<div class="help-page">
	<h1>Contact Us</h1>
	<div>
		<ul>
			<li>Phone: (02) 9514 9733</li>
			<li>Email: helps@uts.edu.au</li>
			<li>Location: Building 1, Level 3, Room 8 (opposite the Concourse Cafe)</li>
			<li><a href="http://www.uts.edu.au/current-students/support/helps/about-helps/staff-list">HELPS staff members</a></li>
		</ul>
	</div>
	<h2>Frequently asked questions</h2>
	<div class="faq">
		<h3 ng-click="toggleExpand($event)">What is UTS HELPS?</h3>
		<ul class="steps">
			<li>HELPS is the abbreviation for Higher Education Language and Presentation Support. It provides non-credited English language and academic litracy support to UTS undergraduat and postgraduate course students.</li>
			<li>To take a deep look in UTS HELPS, please click <a href="http://www.uts.edu.au/current-students/support/helps/about-helps">here</a> to go UTS website.</li>
		</ul>
	</div>
	<div class="faq">
		<h3 ng-click="toggleExpand($event)">How do I make a booking?</h3>
		<ol class="steps">
			<li>
				Navigate to the 'Activities' Page through the Navigation Bar
				<img src="/public/res/img/book1.png">
			</li>
			<li>
				Choose the session you want to book it in for, and click the blue 'Book' button.
				<img src="/public/res/img/book2.png">
			</li>
			<li>
				Confirm your booking. The status bar will let you know that your booking has been confirmed.
				<img src="/public/res/img/book3.png">
			</li>
		</ol>
	</div>
	<div class="faq">
		<h3 ng-click="toggleExpand($event)">How do cancel a booking?</h3>
		<ol class="steps">
			<li>
				Navigate to the 'Upcoming Bookings' Page through the Navigation Bar
				<img src="/public/res/img/cancel2.png">
			</li>
			<li>
				Click the 'Cancel' button under the booking you with to cancel
			</li>
			<li>
				Confirm the cancellation. The status bar will let you know that your booking has been cancelled.
				<img src="/public/res/img/cancel3.png">
			</li>
		</ol>
	</div>
	<div class="faq">
		<h3 ng-click="toggleExpand($event)">How do I set a notification for a booking?</h3>
		<ol class="steps">
			<li>
				Navigate to the 'Upcoming Bookings' Page through the Navigation Bar
				<img src="/public/res/img/cancel2.png">
			</li>
			<li>
				Click on 'Add notification' under the Booking you wish to add a notification to
			</li>
			<li>
				Select the time you want the notification to arrive at from the drop down menu.
				<img src="/public/res/img/notification.png">
			</li>
			<li>
				Click confirm.  The status bar will let you know that a notification has been added.
			</li>
		</ol>
	</div>
	<div class="faq">
		<h3 ng-click="toggleExpand($event)">How do I unset a notification for a booking?</h3>
		<ol class="steps">
			<li>
				Navigate to the 'Upcoming Bookings' Page through the Navigation Bar
				<img src="/public/res/img/cancel2.png">
			</li>
			<li>
				Click on 'Delete notification' under the Booking for which you wish to unset the notification
			</li>
			<li>
				Click confirm.  The status bar will let you know that a notification has been deleted.
			</li>
		</ol>
	</div>
	<div class="faq">
		<h3 ng-click="toggleExpand($event)">Why this new website?</h3>
		<ul class="steps">
			<li>We've created a new user experience for people looking for HELPS. It's more efficient, looks better and works better.</li>
		</ul>
	</div>
</div>
