<div>
	<div>
		<h2>What is UTS HELPS?</h2>
		<p>HELPS is the abbreviation for Higher Education Language and Presentation Support. It provides non-credited English language and academic litracy support to UTS undergraduat and postgraduate course students.</p>
		<p>To take a deep look in UTS HELPS, please click <a href="http://www.uts.edu.au/current-students/support/helps/about-helps">here</a> to go UTS website.</p>
	</div>
	<div>
	 	<h2>How do I ...?</h2>
	 	<ul>
	 		<!-- Make a booking -->
	 		<li>
	 			<h3>Make a booking</h3>
	 			<div>
	 				<p>1. Navigate to the 'Activities' Page through the Navigation Bar</p>
	 				<img src="../res/img/book1.png">
	 				<p>2. Choose the session you want to book it in for, and click the blue 'Book' button.</p>
	 				<img src="../res/img/book2.png">
	 				<p>3. Confirm your booking. The status bar will let you know that your booking has been confirmed.</p>
	 				<img src="../res/img/book3.png">
	 			</div>
	 		</li>

	 		<!-- Cancel a booking -->
	 		<li>
	 			<h3>Cancel a booking</h3>
	 			<p>1. As above, navigate to the 'Activities' page through the navigation bar.</p>
	 			<p>2. Press one 'Cancel under the booking you wish to cancel.</p>
	 			<img src="../res/img/cancel1.png">
	 			<p>Second Option:</p>
	 			<p>1. Navigate to 'Upcoming Bookings' from the navigation Bar</p>
	 			<img src="../res/img/cancel2.png">
	 			<p>2. Click the 'Cancel' button under the booking you with to cancel</p>
	 			<p>3. Confirm the cancellation. The status bar will let you know that your booking has been cancelled.</p>
	 			<img src="../res/img/cancel3.png">
	 		</li>

	 		<!-- Setting a notification -->
	 		<li>
	 			<h3>Setting a Notification</h3>
	 			<p>1. As above, navigate to the Booking you wish to set a notification for through the navigation bar.</p>
	 			<p>2. Click on 'Add notification' under the Booking you wish to add a notification for.</p>
	 			<img src="../res/img/notification.png">
	 			<p>3. Select the time from the drop down menu.</p>
	 			<p>4. Click confirm. The status bar will let you know that a notification will be added. (Note: to cancel a notification, it is exactly the same process, however in step 2, there will be an option called ‘Delete notification’.)</p>
	 		</li>
	 	</ul>
	</div>
	<div>
		<h2>Contact Us</h2>
		<b>Contact HELPS</b>
		<p>Phone: (02) 9514 9733</p>
		<p>Email: helps@uts.edu.au</p>
		<p>Location: Building 1, Level 3, Room 8 (opposite the Concourse Cafe)</p>
		<p><a href="http://www.uts.edu.au/current-students/support/helps/about-helps/staff-list"><b>HELPS staff members</b></a></p>
	</div>
</div>