<style>
	.login-fields
	{
		padding: 1rem;
		padding-left: 2rem;
		padding-right: 2rem;
		width: 20rem;
		margin-left: auto;
		margin-right: auto;
	}

</style>

<div>
	<form name="loginForm" class="login-fields">
		<br>
		<br>
		<label for="username">Username:</label>
		<input type="text" id="username" ng-model="credentials.username" required>

		<label for="password">Password:</label>
		<input type="password" id="password" ng-model="credentials.password" required>

		<button class="button column medium-12 success" ng-click="login(credentials)" ng-disabled="loginForm.$invalid">Login</button>

		<button class="button column medium-12" ng-click="goRegister(credentials)">Register</button>
	</form>
	</div>
</div>
