<div ng-repeat="booking in BookingsModel.bookingsArray() | filter: BookingsModel.isPastBooking">
	<a>
		<uh-booking-details booking-details="booking" class="row">

		</uh-booking-details>
	</a>
	<div class="row">
		<div class="booking small-11 medium-9 large-7 column small-centered">
				<div class="row"><a ng-click="booking.editNote = !booking.editNote">
					<span class="fa fa-pencil-square-o"></span>&nbsp;Attendance notes&#58;</a> 
				</div>
				<p class="row notes-text" ng-show="!booking.editNote">
					<span>{{booking.notes || 'Add some notes'}}</span>
				</p>
		</div>
	</div>
	<div class="row" >
		<div class="booking small-12 medium-9 large-7 column small-centered">
			<div class="row collapse notes-text" ng-if="booking.editNote">
				<div class="small-11 medium-10 columns small-centered medium-uncentered">
					<input type="text" placeholder="Notes" ng-model="booking.notes"></input>
				</div>
				<div class="small-12 medium-2 columns small-centered medium-uncentered">
					<a class="button postfix" ng-click="saveNote(booking)">Save</a>
				</div>
			</div>
		</div>
	</div>
	<hr ng-if="!$last" class="small-12 medium-8 large-6 column small-centered">
</div>