<div ng-repeat="activity in UpcomingActivitiesModel.activities" class="activity-row" infinite-scroll="onViewMore()">
	<a ng-click="clickedOnAnActivity(activity)">
		<uh-activity-details activity-details="activity" expand="activity.isExpanded" workshop-click-handler="bookWorkshop" class="row">

		</uh-activity-details>
	</a>
</div>
<div class="small-centered" ng-if="UpcomingActivitiesModel.activities != null">
	<button ng-click = "onViewMore()" >View More</button>
</div>

<uh-confirm-deny-modal callback="confirmWorkshop(isConfirmed)">
	<h2>Confirm Booking?</h2>
	<p class="small-11 small-centered column">Are you sure you want to book in for <strong>{{selectedWorkshop.StartDate | date: 'HH:mm'}}-{{selectedWorkshop.EndDate | date: 'HH:mm on dd/MM/yyyy'}}</strong> in room <strong>{{selectedWorkshop.campus}}</strong>?</p>
	<p class="small-11 small-centered column">If you book this workshop, your attendance will be marked unless you cancel.</p>
</uh-confirm-deny-modal>


<style>
	h2.cdm
	{
		text-align: center;
	}
</style>

<div ng-repeat="activity in UpcomingActivitiesModel.activities" class="activity-row">
	<a ng-click="clickedOnAnActivity(activity)">
		<uh-activity-details activity-details="activity" expand="activity.isExpanded" workshop-click-handler="bookWorkshop" class="row">
	</uh-activity-details>
</a>
</div>
<uh-confirm-deny-modal callback="confirmWorkshop(isConfirmed)" cdm-id="BOOK">
	<h2 class="cdm">Confirm Booking?</h2>
	<p class="small-11 small-centered column">Are you sure you want to book in for <strong>{{selectedWorkshop.StartDate | date: 'HH:mm'}}-{{selectedWorkshop.EndDate | date: 'HH:mm on dd/MM/yyyy'}}</strong> in room <strong>{{selectedWorkshop.campus}}</strong>?</p>
	<p class="small-11 small-centered column">If you book this workshop, your attendance will be marked unless you cancel.</p>
</uh-confirm-deny-modal>
<uh-confirm-deny-modal callback="confirmCancel(isConfirmed)" cdm-id="CANCEL">
	<h2 class="cdm">Cancel Booking?</h2>
	<p class="small-11 small-centered column">Blah blah blah blah blah</p>
</uh-confirm-deny-modal>

