<search-bar callback="searchBookings(query)">
</search-bar>

<div ng-repeat="booking in BookingsModel.bookingsArray() | filter: BookingsModel.isUpcomingBooking" ng-show="!booking.isFiltered" ng-hide="booking.isFiltered">
	<a>
		<uh-booking-details booking-details="booking" class="row" filtered="isFiltered">

		</uh-booking-details>
	</a>
	<div class="row">
		<center><a class="button round small-centered small-8 medium-3 column" ng-click="cancelBooking(booking.workshopID)" stop-event>Cancel</a></center>
	</div>
	<div ng-if="NotificationsModel.notificationExists(booking.BookingId)" class="row">
		<center>
			<a class="button round small-centered small-8 medium-3 column" ng-click="cancelNotification(NotificationsModel.getNotificationByBookingId(booking.BookingId))">
				Delete notification
			</a>
			<a class="button round small-centered small-8 medium-3 column" ng-click="testNotification(NotificationsModel.getNotificationByBookingId(booking.BookingId).notificationID)">
				Test notification
			</a>
		</center>
	</div>
	<div ng-if="!NotificationsModel.notificationExists(booking.BookingId)" class="row">
		<center><a class="button round small-centered small-8 medium-3 column" ng-click="addNotification(booking)">
			Add notification
		</a></center>
	</div>
	<hr ng-if="!$last" class="small-12 medium-8 large-6 column small-centered">
</div>
<uh-confirm-deny-modal callback="confirmNotificationAdd(isConfirmed)" cdm-id="CONFIRM_NOTIF">
	<h2>Add notification</h2>
	<p>Are you sure you want to add a notification?</p>
	<p>Please select a time:</p>
	<select ng-model="notification.notificationTime">
		<option ng-repeat="option in availableNotificationTimes" value="{{option.value}}">
			{{option.title}}
		</option>
	</select>
</uh-confirm-deny-modal>
<uh-confirm-deny-modal callback="confirmCancelNotification(isConfirmed)" cdm-id="CANCEL_NOTIF">
	<h2>Cancel notification</h2>
	<p>Are you sure you want to cancel this notification?</p>
</uh-confirm-deny-modal>
<uh-confirm-deny-modal callback="confirmCancel(isConfirmed)" cdm-id="CANCEL">
	<h2 class="cdm">Cancel Booking</h2>
	<p class="small-11 small-centered column">Are you sure you want to cancel your booking for <strong>{{selectedWorkshop.StartDate | date: 'HH:mm'}}-{{selectedWorkshop.EndDate | date: 'HH:mm on dd/MM/yyyy'}}</strong> in room <strong>{{selectedWorkshop.campus}}</strong>?</p>
</uh-confirm-deny-modal>
