<div class="activity small-11 medium-8 large-6 column small-centered">
	<div class="row">
		<div class="small-12 column" id="title">
			{{activityDetails['topic']}}
		</div>
	</div>
	<div class="row" ng-show="!expand">
		<p class="small-12 column">
			Classes available on
			<span ng-repeat="workshop in activityDetails.workshops | unique: 'StartDate'">
				<span ng-if="$last && $index > 0"> and</span>
				{{workshop.StartDate | date : 'dd/MM/yyyy' }}<span ng-if="($first || $middle) && !$last ">,</span>
			</span>
		</p>
	</div>
	<div class="row expanded-content" ng-show="expand" ng-class="{expanded: expand}">
		<div class="column small-12" ng-if="expand">
			<div class="row">
				<p class="column small-12">{{activityDetails['description']}}</p>
			</div>
			<div class="row" ng-repeat="(campusKey, workshops) in activityDetails.workshops | groupBy: 'campus'">
				<div class="row"><div class="column small-7 inner-card"><p><strong>Location: {{campusKey}}</strong></p></div></div>
				<div class="row workshop-row" ng-repeat="workshop in workshops">
					<div class="column small-12 workshop">
						<div class="row">
							<div class="column small-12 medium-9">
								<p>{{workshop.StartDate | date: 'HH:mm'}}-{{workshop.EndDate | date: 'HH:mm on dd/MM/yyyy'}}</p>
							</div>
							<!--<div class="column small-3">-->
								<a class="button column small-12 medium-3 alert" ng-if="bookings.bookingExists(workshop)" ng-click="workshopCancelHandler(workshop)" stop-event>Cancel</a>
								<a ng-if="workshop.BookingCount < workshop.maximum && !bookings.bookingExists(workshop)" class="button column small-12 medium-3" stop-event ng-click="workshopClickHandler(workshop)">Book</a>
								<a ng-if="workshop.BookingCount >= workshop.maximum && !bookings.bookingExists(workshop)" class="button column small-12 medium-3 alert disabled" stop-event>Full</a>
							<!--</div>-->
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>
