<div class="activity small-11 medium-8 large-6 column small-centered">
	<div class="row">
		<div class="small-12 column" id="title">
			{{activityDetails['topic']}}
		</div>
	</div>
	<div class="row" ng-show="!expand">
		<p class="small-12 column">
			Classes available on&nbsp;
			<span ng-repeat="workshop in activityDetails.workshops | unique: 'StartDate'">
				<span ng-if="$last && $index > 0"> and</span>
				{{workshop.StartDate | date : 'dd/MM/yyyy' }}<span ng-if="($first || $middle) && !$last ">,</span>
			</span>
		</p>
	</div>
	<div class="row expanded-content" ng-show="expand" ng-class="{expanded: expand}">
		<div class="column small-12">
			<div class="row">
				<p class="column small-12">{{activityDetails['description']}}</p>
			</div>
			<div class="row workshop-row" ng-repeat="workshop in activityDetails.workshops">
				<div class="column small-12 workshop">
					<div class="row">
						<div class="column small-12 medium-9">
							<p>{{workshop.StartDate | date: 'HH:mm'}}-{{workshop.EndDate | date: 'HH:mm on dd/MM/yyyy'}}</p>
						</div>
						<!--<div class="column small-3">-->
							<a ng-if="workshop.BookingCount < workshop.maximum" class="button column small-12 medium-3" stop-event ng-click="book(workshop)">Book</a>
							<a ng-if="workshop.BookingCount >= workshop.maximum" class="button column small-12 medium-3 alert disabled" stop-event>Full</a>
						<!--</div>-->
					</div>
				</div>
			</div>
		</div>
	</div>

</div>
