<div class="activity small-11 medium-8 large-6 column small-centered">
	<div class="row">
		<div class="small-12 column" id="title">
			{{activityDetails['topic']}}
		</div>
	</div>
	<div class="row" ng-show="!expand">
		<p class="small-12 column">
			Classes available on
			<span ng-repeat="workshop in activityDetails.workshops | unique: 'StartDate'">
				<span ng-if="$last && $index > 0"> and</span>
				{{workshop.StartDate | date : 'dd/MM/yyyy' }}<span ng-if="($first || $middle) && !$last ">,</span>
			</span>
		</p>
	</div>
	<div class="row expanded-content" ng-show="expand" ng-class="{expanded: expand}">
		<div class="column small-12" ng-if="expand">
			<div class="row">
				<p class="column small-12">{{activityDetails['description']}}</p>
			</div>
			<div class="row" ng-repeat="(campusKey, workshops) in activityDetails.workshops | groupBy: 'campus'">
				<div class="row workshop-row" ng-repeat="workshop in workshops">
					<div class="column small-12 medium- workshop">
						<div class="row">
							<div class="column small-12 medium-12">
								<div class="row">
									<div class="column small-12 medium-9">
										<i class="fa fa-clock-o small"></i>
										<strong>Time:</strong>{{workshop.StartDate | date: 'HH:mm'}}-{{workshop.EndDate | date: 'HH:mm'}}
									</div>
								</div>
								<div class="row">
									<div class="column small-12 medium-9">
										<i class="fa fa-calendar small"></i>
										<strong>Date:</strong>
										{{workshop.StartDate | date: 'dd/MM/yyyy'}}
									</div>
								</div>
								<div class="row">
									<div class="column small-12 medium-9">
										<i class="fa fa-map-marker small"></i>
										<strong>Location:</strong>
										{{campusKey}}
									</div>
								</div>
								<div class="row">
									<div class="column small-12 medium-9">
										<i class="fa fa-info-circle small"></i>
										<strong>Status: </strong>
										<span ng-if="workshop.BookingCount >= workshop.maximum">
										Bookings full
										</span>
										<span ng-if="workshop.BookingCount < workshop.maximum">
										Available</span>

									</div>
								</div>
								<div class="row">
									<!--<div class="column small-12 medium-9 large-12">-->
										<a ng-if="workshop.BookingCount < workshop.maximum" class="button column small-12 medium-9 large-12" stop-event ng-click="workshopClickHandler(workshop)">Book</a>
										<a ng-if="workshop.BookingCount >= workshop.maximum" class="button column small-12 medium-9 large-12 alert disabled" stop-event>Full</a>
									<!--</div>-->
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>
