// C Mitchell Busby 2015
uh-activity-details {
	
	.activity, .workshop > div.row {
		border: 1px solid black;
		border-radius: 4px;
	}
	.activity {
		@media #{$small-only} {
			//border-left: 0px;
			//border-right: 0px;
		}
	}
	#title {
		font-weight: bold;
		font-size: rem-calc(20);
	}
	#description {
		padding: 1.2em;
	}
	.workshop {
		$wk-padding: 1.2em;
		padding-left: 10%;
		padding-right: 10%;
		padding-top: 0;
		padding-bottom: $wk-padding;
		p {
			line-height: 3 * $button-med;
			margin-bottom: 0;
		}
	}
	.button {
		margin: 0;
	}
}
a uh-activity-details {
	text-decoration: none;
	color: initial;
}
